body { 
    background-color:rgb(253, 220, 142);
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.page-title {
    text-align: center;
}


.food-item {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 30px;
    width: 100%;           /* Il contenitore può occupare tutta la larghezza disponibile */
    max-width: 450px;      /* Ma non supererà mai questa larghezza */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Immagine senza ritagli e mantenendo proporzioni corrette */
img {
    max-width: 100%;
    max-height: 350px;
    object-fit: contain;
    display: block;
    margin-bottom: 10px;
}

.caption {
    font-size: 20px;
}